# --- Python ---
__pycache__/
*.py[cod]
*.pkl
*.egg-info/
.venv/
env/
venv/

# --- Streamlit ---
.streamlit/
**/.cache/

# --- Data & DB ---
data/
# nyctaxi.duckdb*
# this covers .wal, .tmp, .lock etc

# --- OS / IDE files ---
.DS_Store
Thumbs.db
.vscode/
.idea/