# --- Python ---
__pycache__/
*.py[cod]
*.pkl
*.egg-info/
.venv/
env/
venv/

# --- Streamlit ---
.streamlit/
**/.cache/

# --- Data & DB ---
data/
# Ignore DuckDB temp/journal files, but keep the main .duckdb
nyctaxi.duckdb.wal
nyctaxi.duckdb.tmp
nyctaxi.duckdb.lock

# --- OS / IDE files ---
.DS_Store
Thumbs.db
.vscode/
.idea/